.vscode

# data files
data.csv
emissions.db
classifier.pkl


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*


# End of https://www.toptal.com/developers/gitignore/api/python